!!!
%html
	%head
		%title Why hello, you should know!
		%script{ "type" => "text/javascript", :src => "js/qz.js" }
		%link { :rel => "stylesheet", :type => "text/css", :href => "css/qz.css", :media => "all" }
	%body
		#header
			%h1 Answer this quiz
		#content
			%p All souls die here.
			#frame
				#q
				#o
		#footer
			%p :)

