body { background-color: black; color: #EEF; font-size: 24px; margin: 30px }
#frame { text-align: left }
#q { font-size: 24px; font-family: Verdana; color: #8EE; background-color: #333 }
#o { font-size: 24px; font-family: Verdana; color: #8AA }

